
<footer class="footer">
	<div class="container-fluid">
		<nav class="pull-left">
				<ul class="nav">
					<li class="nav-item">
            <a class="nav-link" target="_blank" href="#">
								<img class="wk-logo-small" src="https://cdn.wolterskluwer.io/wk/fundamentals/1.x.x/logo/assets/medium.svg" alt="Wolters Kluwer Product Name - Page anchor links to">
						</a>
					</li>
				</ul>
		</nav>


		<div class="" >
				<ul class="nav">
						<li class="wk-footer-item"><a class="wk-footer-link" href="javascript:void(0)">&nbsp Disclaimer &nbsp</a></li>
						<li class="wk-footer-item"><a class="wk-footer-link" href="javascript:void(0)">&nbsp Privacy & Cookies &nbsp</a></li>
						<li class="wk-footer-item"><a class="wk-footer-link" href="javascript:void(0)">&nbsp GDPR &nbsp</a></li>
						<li class="wk-footer-item"><a class="wk-footer-link" href="javascript:void(0)">&nbsp Securities Act Statement &nbsp</a></li>
				</ul>

		</div>


		<div class="copyright ml-auto"><p class="wk-footer-copyright">&copy; 2022 Wolters Kluwer. All Rights Reserved.</p>
		</div>





	</div>

</footer>
