{% extends "layouts/base.html" %}

{% block title %} Web Stats {% endblock %}


{% block stylesheets %}

<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
	border: 1px solid black;
}

tr:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);
}


</style>
{% endblock stylesheets %}


{% block content %}

<div class="content">
	<div class="page-inner">
        <!-------------------------------------------------------------------------------------->
        <!------------------------	 Page Header       ----------------------------------------->
        <!-------------------------------------------------------------------------------------->
		<div class="page-header">
            <!-- This shows the main page where we are -->
			<h4 class="page-title">Reports</h4>

            <!-------------------------------------------------------->
			<ul class="breadcrumbs">
				<li class="nav-home">
					<a href="#">
						<i class="flaticon-home"></i>
					</a>
				</li>
				<li class="separator">
					<i class="flaticon-right-arrow"></i>
				</li>
				<li class="nav-item">
					<a href="#">Web Stats</a>
				</li>
				<li class="separator">
					<i class="flaticon-right-arrow"></i>
				</li>
				<li class="nav-item">
					<a href="#">New Report</a>
				</li>
				<li class="separator">
					<i class="flaticon-right-arrow"></i>
				</li>
				<li class="nav-item">
					<a href="#"> {{ type }} </a>
				</li>
			</ul>
        	<!-------------------------------------------------------->

		</div>
        <!-------------------------------------------------------------------------------------->
        <!------------------------	 /Page Header      ----------------------------------------->
        <!-------------------------------------------------------------------------------------->

				{% include "includes/sweetalerts/sweetalerts_gen.html" %}
        <!-------------------------------------------------------------------------------------->
        <!-----------------------	 Page Content      ----------------------------------------->
        <!-------------------------------------------------------------------------------------->




<div class="row">

	<!-- --------------------  INFORMATION CARD -------------------------------------- -->
	<div class="col-md-5">
 	 <div class="card" style="width:350px">

 				 <div class="card-block text-left">

 					 <!-- Aqui le paso como parametro la informacion acerca del nombre de la foto -->
 					 <center> <img class="card-img-top" src="/static/assets/img/company-logos/{{pic_path}}" style="width:50%" alt="{{institution_name}}"></center>
 				 </div>

 				 <div class="card-body">
 					 <br>
 					 <p class="card-title"><b>{{institution_name}}</b></p>
 					 <br>
 					 <p class="card-text"><b>Type: </b> {{type}}</p>

 					 <form class="form-inline" id="registerForm"  method="POST" action="{{ url_for('home_blueprint.download')}}" role="form">
 						 <!-- KEY:VALUE --------------- NAME:VALUE -->
 						 <input name="type" type='hidden' class="form-control" value={{type}}>
 						 <input name="user" type='hidden' class="form-control" value={{current_user.username}}>
 						 <input name="institution" type='hidden' class="form-control" value={{institution_name}}>
 						 <input name="find_path" type='hidden' class="form-control" value={{find_path}}>
 						 <button type="submit" class="btn btn-outline-success"><i class="fa fa-download" aria-hidden="true"></i></button>
 					 </form>
 				 </div>

		<!-- --------------------  AVERAGE -------------------------------------- -->
				{% if Yearly_Comparison == 'Yearly_Comparison' %}

				 <div class="card" style="width:350px">

					 <table style="width:100%">

						 <tr>
						 	 <th colspan="5">
								 <h2><b>Average of {{type}}</b></h2></th>
						 </tr>

						 <tr>
						 	 <th>
								 Years:
							 </th>
							 	 <td colspan="5">
								 		<p class="text-danger"><b>{% for i in count_years %}{{i}} ,{% endfor %}</b></p>
								 </td>
						 </tr>

					   <tr>
							   <td><p class="text-primary">Sessions</p></td>
							   <td><p class="text-primary">T.I.R</p></td>
							   <td><p class="text-primary">U.I.R</p></td>
								 <td><p class="text-primary">T.I.I</p></td>
							   <td><p class="text-primary">U.I.I</p></td>
					   </tr>

					   <tr>
							 {% for i in average_yr %}
							 <th><b>{{i}}</b></th>
							 {% endfor %}

					   </tr>

					 </table>

				 </div>
				{% endif %}
 	 </div>
  </div>



	<!-- --------------------  INFORMATION CARD -------------------------------------- -->


	<!-- --------------------  GRAPHS -------------------------------------- -->
	<!-- v -->
		<div id = 'tabs' class="col-md-7">
			<!-- Este es el boton para enviar el reporte como PDF, llama una funcion de JS por medio del ID-->
			<a href="#" id="downloadPdf">Download Report Page as PDF</a>

			<!-- NAVEGADOR DE TABS-->
			<ul class="nav nav-pills">

				<!--  Utilizo el HREF para invocar a los tabs de las graficas -->
				<li class="nav-item">
				  <a href="#chart-year" href="#">Stats</a>
				 </li>

				 <li class="nav-item">
				   <a href="#chart-month" href="#">Montly Trend</a>
				 </li>

			</ul>

			<!--  CONTENEDOR DE LAS GRAFICAS-->
			<div id="tab-container">
				<!-- Meto cada gráfica con el nombre del tab al que pertenecen -->
				<div id="chart-year" class="chart-container" style="position: relative; height:80vh; width:40vw">
						<canvas id="chart"></canvas>
				</div>
				<!-- Meto cada gráfica con el nombre del tab al que pertenecen -->
				<div id="chart-month" class="chart-container" style="position: relative; height:100vh; width:40vw">
					  <canvas id="chart1"></canvas>
				</div>
			</div>
		</div>
	<!-- --------------------  /GRAPHS -------------------------------------- -->


</div>

</div>
</div>
<!-------------------------------------------------------------------------------------->
<!------------------------	 /Page Content      ---------------------------------------->
<!-------------------------------------------------------------------------------------->


{% endblock content %}

<!------------------------------------------------------>
<!------------------------------------------------------>

<!-- Specific Page JS goes HERE  -->

<!------------------------------------------------------>
<!------------------------------------------------------>

{% block javascripts %}
<!-- Atlantis DEMO methods, don't include it in your project! -->
<script src="/static/assets/js/setting-demo.js"></script>
<script src="/static/assets/js/demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.debug.js"></script>

<script>
// ------------------ Loading state ------------------------//
function loading(){
            $("#loading").show();
            $("#content").hide();
        }

$("#tabs").tabs().on("click", '[role="tab"]', function() {
				        $(this).closest("ul") // The current UL
				    });
				//----------------------- 3 DATASETS---------------------------------

							var CHART_COLORS = {
							red: 'rgb(255, 99, 132)',
							orange: 'rgb(255, 159, 64)',
							yellow: 'rgb(255, 205, 86)',
							green: 'rgb(75, 192, 192)',
							blue: 'rgb(54, 162, 235)',
							purple: 'rgb(153, 102, 255)',
							grey: 'rgb(201, 203, 207)'
							};

							var chart = document.getElementById('chart').getContext('2d');

							var mytotalIncomeChart = new Chart(chart, {
								type: 'bar',
								data: {
									labels: [{% for i in count_years %}'{{i}}',{% endfor %}],

									datasets : [
									//----Dataset 1
									{
										label: "TIR",
										backgroundColor: 'rgba(0,255,0,0.3)',
										borderColor: CHART_COLORS.green,
										//data: [6, 4, 9, 5, 4, 6, 4, 3, 8, 10],
										data: [{% for i in sum_TIR_yr%}'{{i}}',{% endfor %}]

									},
									//----Dataset 2
									{
										label: "TII",
										backgroundColor: 'rgba(0,0,255,0.3)',
										borderColor: CHART_COLORS.blue,
										//data: [6, 4, 9, 5, 4, 6, 4, 3, 8, 10],
										data: [{% for i in sum_TII_yr%}'{{i}}',{% endfor %}]

									},

									//----Dataset 23
									{
										label: "UIR",
										backgroundColor: 'rgba(255, 0, 0, 0.3)',
										borderColor: CHART_COLORS.red,
										//data: [6, 4, 9, 5, 4, 6, 4, 3, 8, 10],
										data: [{% for i in sum_UIR_yr%}'{{i}}',{% endfor %}]

									},
									//----Dataset 4
									{
										label: "UII",
										backgroundColor: 'rgba(255,255,0,0.3)',
										borderColor: CHART_COLORS.yellow,
										//data: [6, 4, 9, 5, 4, 6, 4, 3, 8, 10],
										data: [{% for i in sum_UII_yr%}'{{i}}',{% endfor %}]

									},

									//----Dataset 4
									{
										label: "Sessions",
										backgroundColor: 'rgb(255,165,0)',
										borderColor: CHART_COLORS.orange,
										//data: [6, 4, 9, 5, 4, 6, 4, 3, 8, 10],
										data: [{% for i in sum_session_yr%}'{{i}}',{% endfor %}]

									},

									],
								},
								options: {
									responsive: true,
									maintainAspectRatio: false,
									legend: {
										position: 'top',
									},
								}
							});

 						//-------------------MONTH---------------------------------
							var chart_month = document.getElementById('chart1').getContext('2d');

							var mytotalIncomeChart = new Chart(chart_month, {
								type: 'horizontalBar',
								data: {
									labels: [{% for i in count_months %}'{{i}}',{% endfor %}],

									datasets : [
									//----Dataset 1
									{
										label: "TIR",
										backgroundColor: 'rgba(0,255,0,0.3)',
										borderColor: CHART_COLORS.green,
										//data: [6, 4, 9, 5, 4, 6, 4, 3, 8, 10],
										data: [{% for i in sum_TII_month%}'{{i}}',{% endfor %}]

									},
									//----Dataset 2
									{
										label: "TII",
										backgroundColor: 'rgba(0,0,255,0.3)',
										borderColor: CHART_COLORS.blue,
										//data: [6, 4, 9, 5, 4, 6, 4, 3, 8, 10],
										data: [{% for i in sum_TIR_month%}'{{i}}',{% endfor %}]

									},

									//----Dataset 23
									{
										label: "UIR",
										backgroundColor: 'rgba(255, 0, 0, 0.3)',
										borderColor: CHART_COLORS.red,
										//data: [6, 4, 9, 5, 4, 6, 4, 3, 8, 10],
										data: [{% for i in sum_UIR_month%}'{{i}}',{% endfor %}]

									},
									//----Dataset 4
									{
										label: "UII",
										backgroundColor: 'rgba(255,255,0,0.3)',
										borderColor: CHART_COLORS.yellow,
										//data: [6, 4, 9, 5, 4, 6, 4, 3, 8, 10],
										data: [{% for i in sum_UII_month%}'{{i}}',{% endfor %}]

									},

									//----Dataset 5
									{
										label: "Sessions",
										backgroundColor: 'rgb(255,165,0)',
										borderColor: CHART_COLORS.yellow,
										//data: [6, 4, 9, 5, 4, 6, 4, 3, 8, 10],
										data: [{% for i in sum_session_month%}'{{i}}',{% endfor %}]

									},

									],
								},
								options: {
									responsive: true,
									maintainAspectRatio: false,
									legend: {
										position: 'top',
									},
								}
							});
				//-------------------------- EXTRA ACTIONS ---------------------------------------

							const actions = [
							  {
							    name: 'Randomize',
							    handler(chart) {
							      chart.data.datasets.forEach(dataset => {
							        dataset.data = Utils.numbers({count: chart.data.labels.length, min: -100, max: 100});
							      });
							      chart.update();
							    }
							  },
							  {
							    name: 'Add Dataset',
							    handler(chart) {
							      const data = chart.data;
							      const dsColor = Utils.namedColor(chart.data.datasets.length);
							      const newDataset = {
							        label: 'Dataset ' + (data.datasets.length + 1),
							        backgroundColor: Utils.transparentize(dsColor, 0.5),
							        borderColor: dsColor,
							        data: Utils.numbers({count: data.labels.length, min: -100, max: 100}),
							      };
							      chart.data.datasets.push(newDataset);
							      chart.update();
							    }
							  },
							  {
							    name: 'Add Data',
							    handler(chart) {
							      const data = chart.data;
							      if (data.datasets.length > 0) {
							        data.labels = Utils.months({count: data.labels.length + 1});

							        for (let index = 0; index < data.datasets.length; ++index) {
							          data.datasets[index].data.push(Utils.rand(-100, 100));
							        }

							        chart.update();
							      }
							    }
							  },
							  {
							    name: 'Remove Dataset',
							    handler(chart) {
							      chart.data.datasets.pop();
							      chart.update();
							    }
							  },
							  {
							    name: 'Remove Data',
							    handler(chart) {
							      chart.data.labels.splice(-1, 1); // remove the label first

							      chart.data.datasets.forEach(dataset => {
							        dataset.data.pop();
							      });

							      chart.update();
							    }
							  }
							];

//-------------------------- DOWNLOAD PDF ---------------------------------------

							$('#downloadPdf').click(function(event) {
							  // get size of report page

								// EL tab container es el que pillo para poder sacar de ahi l
							  var reportPageHeight =
								$('#tab-container').innerHeight();

							  var reportPageWidth =
								$('#tab-container').innerWidth();

							  // create a new canvas object that we will populate with all other canvas objects
							  var pdfCanvas = $('<canvas />').attr({
							    id: "canvaspdf",
							    width: reportPageWidth,
							    height: reportPageHeight
							  });

							  // keep track canvas position
							  var pdfctx = $(pdfCanvas)[0].getContext('2d');
							  var pdfctxX = 0;
							  var pdfctxY = 0;
							  var buffer = 100;

							  // for each chart.js chart
							  $("canvas").each(function(index) {
							    // get the chart height/width
							    var canvasHeight = $(this).innerHeight();
							    var canvasWidth = $(this).innerWidth();

							    // draw the chart into the new canvas
							    pdfctx.drawImage($(this)[0], pdfctxX, pdfctxY, canvasWidth, canvasHeight);
							    pdfctxX += canvasWidth + buffer;

							    // our report page is in a grid pattern so replicate that in the new canvas
							    if (index % 2 === 1) {
							      pdfctxX = 0;
							      pdfctxY += canvasHeight + buffer;
							    }
							  });

							  // create new pdf and add our new canvas as an image
							  var pdf = new jsPDF('l', 'pt', [reportPageWidth, reportPageHeight]);
							  pdf.addImage($(pdfCanvas)[0], 'PNG', 0, 0);

							  // download the pdf
							  pdf.save('filename.pdf');
							});
</script>

{% endblock javascripts %}
